body {
    font-family: Arial;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

nav a {
    margin-right: 10px;
    padding: 6px 12px;
    background: #eee;
    border-radius: 6px;
    text-decoration: none;
}

nav a.active {
    background: #4287f5;
    color: white;
}

.paper {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.button-copy {
    padding: 5px 10px;
    background: #4287f5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
